body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ff4980;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
}

.App {
  width: 600px;
  height: 70vh;
  background-color: #ffff6b;
  border-radius: 20px;
  padding: 40px;
  position: relative;
}

.result {
  text-align: center;
  color: #c92959;
  font-size: 23px;

}

button {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    border: 0;
    padding: 10px 20px;
    font-size: 22px;
    background-color: #c92959;
    color: #fff;
    margin-top: 40px;
    cursor: pointer;
  }

h2 {
    margin-bottom: 0;
  }

  img {
    width: 150px;
  }


.progress {
  height: 10px;
  border-radius: 30px;
  background-color: rgb(255, 255, 107);
  margin-bottom: 25px;
}

  .progress__inner {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: rgb(18, 231, 48);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, rgb(255, 78, 175) 0%, rgb(206, 3, 81) 100%);
  }

  .App::before, .App::after {
    content: '';
    display: block;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .App:before {
    width: 95%;
    bottom: -10px;
    background-color: rgba(255, 255, 107, 0.8);
    z-index: 0;
  }

  .App:after {
    width: 90%;
    bottom: -20px;
    background-color: rgba(255, 255, 107, 0.3);
    z-index: 1;
  }

  h1 {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
      padding: 15px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 20px;
      transition: all 0.1s ease-in-out;
    } 

    li:hover {
        border: 2px solid #ff4980;
      }

